<div class="row banner-offset chat">
	<div class="large-12 columns">
	</div>
	<div class="large-12 columns">
		<div class="chat-window">
			<ul>
			</ul>
		</div>
		<form class="chat-form" class="row collapse">
			<div class="large-10 medium-9 columns">
				<input type="text" class="chat-input" />
			</div>
			<div class="large-2 medium-3 columns">
				<input type="submit" value="Send" class="chat-submit button postfix" />
			</div>
		</form>
	</div>
</div>