<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<div class="row banner-offset chat">
	<div class="large-12 columns">
		<!-- <h5>Settings</h5> -->
	</div>
	<div class="large-12 columns">
		<div class="chat-window">
			<ul>
				<li><strong>Waiting for Support Agent</strong></li>
			</ul>
		</div>
		<form class="chat-form" class="row collapse">
			<div class="large-10 medium-9 columns">
				<input type="text" class="chat-input" />
			</div>
			<div class="large-2 medium-3 columns">
				<input type="submit" value="Send" class="chat-submit button postfix" />
			</div>
		</form>
	</div>
</div>