<div class="row">
  <h1>Services</h1>
  <p>This page will list 'Services' these are things like the safety bus, a service that SUSU performs for a student (as opposed to a product being sold)</p>
  <p>This is modelled in the db but has yet to be presented</p>
</div>
<!--
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
-->
