<div class="row message">
	<div class="large-12 columns">
	<h3>Sent!</h3>
	<p>We have sent your message to <%= @to_user.first_name %>, they will receive this in their University email account, and are expected to respond promptly.</p>
	<p>If <%= @to_user.first_name %> doesn't reply within a reasonable time, consider escalating your issue to someone in a higher position.</p>
	</div>
</div>