    <div class="banner">
      <div class="row">
        <div class="medium-5 columns">
          <dl class="today">
            <dt>Prisoners at <em>Union Films</em></dt>
            <dd>7pm &mdash; Tickets on the <a href="#">Box Office</a></dd>
            <dt>SUSU Market on the Concourse</dt>
            <dd>9am &ndash; 3pm</dd>
            <dt>Zumba+ Society Class</dt>
            <dd>2pm in The Cube</dd>
          </dl>
        </div>
        <div class="medium-7 columns">
          <h1>Vote in the Elections</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
	<div class="row">
	  <h3>Blogs</h3>
	</div>
	  <%= render @posts %>
      </div>
      <div class="small-4 columns">
	<h3>What's On</h3>
	<div class="row">
	  <%= render @events %>
	</div>
      </div>
      <div class="small-4 columns">
        <h3>SUSU Media</h3>
      </div>
    </div>
