
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
    	    <a href="#">
            <h1><span class="pink">S</span><span class="blue">U</span><span class="pink">SU</span></h1>
          </a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          <li class="has-dropdown">
            <a href="#" class="whatson">What's On</a>
            <ul class="dropdown">
              <li><a href="/boxoffice" class="whatson">Box Office</a></li>
              <li><a href="/events" class="whatson">Calendar</a></li>
              <li><a href="/eat" class="whatson">Eat, Drink &amp; Shop</a></li>
              <li><a href="/feeds" class="whatson">Feeds</a></li>
              <li><a href="/graduationball" class="whatson">Graduation Ball</a></li>
              <li><a href="/openingtimes" class="whatson">Opening Times</a></li>
              <li><a href="/roombookings" class="whatson">Room Bookings</a></li>
              <li><a href="/safetybus" class="whatson">Safety Bus</a></li>
              <li><a href="/unionfilms" class="whatson">Union Films</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="education">Education</a>
            <ul class="dropdown">
              <li><a href="/education" class="education">Education</a></li>
              <li><a href="/coursereps" class="education">Course Reps</a></li>
              <li><a href="/academicadvice" class="education">Academic Advice</a></li>
              <li><a href="/representation" class="education">Student Representation</a></li>
              <li><a href="/runinanelection" class="education">Run in an Election</a></li>
              <li><a href="/nominate" class="education">Nominate Yourself</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="union">Union</a>
            <ul class="dropdown">
              <li><a href="/generalmeeting" class="union">General Meeting</a></li>
              <li><a href="/unioncouncil" class="union">Union Council</a></li>
              <li><a href="/committeemeetings" class="union">Committee Meetings</a></li>
              <li><a href="/unionawards" class="union">Union Awards</a></li>
              <li><a href="/elections" class="union">Elections</a></li>
              <li><a href="/policy" class="union">Policy</a></li>
              <li><a href="/officers" class="union">Officers</a></li>
              <li><a href="/zones" class="union">Zones</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="clubssocs">Clubs &amp; Socs</a>
            <ul class="dropdown">
              <li><a href="/hallslife" class="clubssocs">Halls Life</a></li>
              <li><a href="/media" class="clubssocs">Media</a></li>
              <li><a href="/performingarts" class="clubssocs">Performing Arts</a></li>
              <li><a href="/presessional" class="clubssocs">Pre Sessional</a></li>
              <li><a href="/rag" class="clubssocs">Rag</a></li>
              <li><a href="/societies" class="clubssocs">Societies</a></li>
              <li><a href="/sports" class="clubssocs">Sports</a></li>
              <li><a href="/unionfilms" class="clubssocs">Union Films</a></li>
              <li><a href="/skills" class="clubssocs">Skills</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="helpsupport">Help &amp; Support</a>
            <ul class="dropdown">
              <li><a href="/advicecenter" class="helpsupport">Advice Centre</a></li>
              <li><a href="/overseasstudents" class="helpsupport">Overseas Students</a></li>
              <li><a href="/finances" class="helpsupport">Finances</a></li>
              <li><a href="/nightline" class="helpsupport">Nightline</a></li>
              <li><a href="/housing" class="helpsupport">Housing</a></li>
              <li><a href="/stayingsafe" class="helpsupport">Staying Safe</a></li>
              <li><a href="/safetybus" class="helpsupport">Safety Bus</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="elections">Elections</a>
            <ul class="dropdown">
              <li><a href="/elections/spring" class="elections">Spring</a></li>
              <li><a href="/jcr" class="elections">JCR</a></li>
              <li><a href="/elections/autumn" class="elections">Autumn</a></li>
              <li><a href="/coursereps" class="elections">Course Reps</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="#">John Smith</a></li>
        </ul>
      </section>
    </nav>
    
    <div class="banner">
      <div class="row">
        <div class="medium-5 columns">
          <dl class="today">
            <dt>Prisoners at <em>Union Films</em></dt>
            <dd>7pm &mdash; Tickets on the <a href="#">Box Office</a></dd>
            <dt>SUSU Market on the Concourse</dt>
            <dd>9am &ndash; 3pm</dd>
            <dt>Zumba+ Society Class</dt>
            <dd>2pm in The Cube</dd>
          </dl>
        </div>
        <div class="medium-7 columns">
          <h1>Vote in the Elections</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
	<div class="row">
	  <h3>Blogs</h3>
	</div>
	  <%= render @posts %>
      </div>
      <div class="small-4 columns">
	<h3>What's On</h3>
	<div class="row">
	  <%= render @events %>
	</div>
      </div>
      <div class="small-4 columns">
        <h3>SUSU Media</h3>
      </div>
    </div>

    <footer class="row">
      <div class="small-1 columns">Email</div>
      <div class="small-1 columns">Facebook</div>
      <div class="small-1 columns">Twitter</div>
      <div class="small-1 columns">Youtube</div>
    </footer>
