<div class="row">
  <div class="small-2 columns">
    <%= image_tag course_representative.user.get_avatar_url(:medium), size: "100x100", class: "sabb-photo", alt: course_representative.user.first_name %>
  </div>
  <div class="small-10 columns">
    <div>Year: <%= course_representative.year %></div>
    <div>Name: <%= course_representative.user.first_name %></div>
    <div><a href="mailto:<%= course_representative.user.email %>@soton.ac.uk">Email</a></div>
  </div>
</div>
