<% if params[:action] == "edit" %>
  <p>
    <%= link_to 'View Course Representative', @course_representative %><br/>
    <%= link_to 'Articles List', articles_path %><br/>
  </p>
<% elsif params[:action] == "new" %>
  <p>
    <%= link_to 'Articles List', articles_path %><br/>
  </p>
<% end %>