<div class="row admin">
	<% @resources.each do |area,resources| %>
		<div class="large-3 medium-4 small-12 left columns">
			<h4><%= area.to_s.capitalize %></h4>
			<nav>
				<ul class="side-nav">
					<% resources.each do |resource| %>
						<% if can? :manage, resource.to_s.classify.constantize %>
							<li><a href="#"><%= resource.to_s.split('_').map(&:capitalize).join(' ') %></a></li>
						<% end %>
					<% end %>
				</ul>
			</nav>
		</div>
	<% end %>
</div>
