<div class="row">
  <h4><img class="sabb-avatar" src="http://www.avatarpro.biz/avatar?s=32" /><%= preview.title %></h4>
  <small>By <a href="#">Joe Bloggs</a></small>
  <p><%= preview.body[0,280] %></p>
</div>
