<% if @first_visit %>
	<div id="first-run-modal" class="reveal-modal" data-reveal>
		<h2>Welcome to SUSU Alpha</h2>
		<p class="lead">This page is an experiment, use <a href="http://www.susu.org/">susu.org</a> for the current site.</p>
		<p>We made this site to show how much better the SUSU website could be if we cut the clutter.</p>
		<p>We aim to be</p>
		<ul>
		  <li>User Focussed</li>
		  <li>Minimal</li>
		  <li>Modern</li>
		</ul>
		<p>We really hope we succeeded.</p>
		<p>But please bear in mind that the site isn't official, isn't complete, isn't accurate. Think of it as an experiment, not your source for SUSU information. If you have any feedback, please report it on <a href="https://github.com/ElliotJH/alpha-susu/issues">GitHub</a>.
		<p>We hope you like the site.</p>
		<a class="button success right" onclick="closeFirstRunModal()">Ok, I Understand</a>
	</div>
	<script>
		$('#first-run-modal').foundation('reveal', 'open', {});

		function closeFirstRunModal() {
			$('#first-run-modal').foundation('reveal', 'close', {});
		}
	</script>
<% end %>
