<footer>
  <div class="row">
    <div class="large-12 small-12 columns">
      <ul class="inline-list">
        <li><a href="mailto:hello@susu.org">Email</a></li>
        <li><a href="https://www.twitter.com/YourSUSU">Twitter</a></li>
        <li><a href="https://www.facebook.com/YourSUSU">Facebook</a></li>
        <li><a href="https://www.youtube.com/yoursusu">YouTube</a></li>
      </ul>
    </div>
    <div class="large-12 small-12 columns">
      <ul class="inline-list">
        <li><a href="https://www.susu.org/about">About SUSU</a></li>
        <li><a href="http://bookings.susu.org/">Room Bookings</a></li>
        <li><a href="https://www.susu.org/jobs">Job Vacancies</a></li>
        <li><a href="https://www.susu.org/contact.html">Contact Us</a></li>
        <li><a href="https://www.susu.org/about/privacy-policy.html">Privacy Policy</a></li>
        <li><a href="https://www.susu.org/about/terms-and-conditions.html">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="large-12 small-12 columns">
      <p>SUSU is the University of Southampton Students' Union.<br/>
      They are a company limited by guarantee, No. 8034371 & a registered Charity, No. 1148683.<br/>
      This website is unaffiliated with SUSU, and run independently by students of the University of Southampton.<br/>
      Content Copyright © 2014 SUSU</p>
    </div>
  </div>
</footer>
