<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 class="show-for-small-only">
        <a href="/">SUSU</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">Menu</a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="show-for-medium-up">
        <a href="/" class="susu-logo">
          <img src="/susu_bubbles@2x.png" />
          <span class="pink">S</span><span class="blue">U</span><span class="pink">SU</span>
        </a>
      </li>
      <li><a href="/places" class="places">Places</a></li>
      <li><a href="/events" class="events">Events</a></li>
      <li><a href="/activities" class="activities">Activities</a></li>
      <li><a href="/services" class="services">Services</a></li>
      <li><a href="/democracy" class="democracy">Democracy</a></li>
      <li><a href="/help" class="help">Help</a></li>
    </ul>
    <ul class="right">
      <% if logged_in? %>
        <li class="has-dropdown">
          <%= link_to current_user.first_name, profile_path %>
          <ul class="dropdown">
            <li class="has-form">
              <%= form_for(current_user, :url => destroy_session_path, :html => {:method => :delete}) do |form| %>
                <%= form.submit "Logout", class: "button" %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
