<div class="row">
  <h1>Activities</h1>
  <p>This page will eventually hold information about societies and other student groups and activities. (We actually already have some of this in the database!)</p>
</div>
