<div class="banner">
  <ul class="" data-orbit data-options="bullets: false">
    <li data-orbit-slide="headline-1">
      <div class="content">
        <h2>Headline 2</h2>
        <h3>Subheadline</h3>
      </div>
    </li>
    <li data-orbit-slide="headline-2">
      <div class="content">
        <h2>Headline 2</h2>
        <h3>Subheadline</h3>
      </div>
    </li>
    <li data-orbit-slide="headline-3">
      <div class="content">
        <h2>Headline 2</h2>
        <h3>Subheadline</h3>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="small-4 columns">
    <div class="row">
      <h3>Blogs</h3>
    </div>
    <%= render @posts %>
  </div>
  <div class="small-4 columns">
    <h3>What's On</h3>
    <div class="row">
      <%= render @events %>
    </div>
  </div>
  <div class="small-4 columns">
    <h3>SUSU Media</h3>
  </div>
</div>
