
    <footer class="row">
      <div class="small-1 columns">Email</div>
      <div class="small-1 columns">Facebook</div>
      <div class="small-1 columns">Twitter</div>
      <div class="small-1 columns">Youtube</div>
    </footer>
