<div class="row">
  <h4><img class="sabb-avatar" src="http://www.avatarpro.biz/avatar?s=32" /><%= blog_post.title %></h4>
  <small>By <a href="#">Joe Bloggs</a></small>
  <p><%= blog_post.body %></p>
</div>
