<h1>Listing performing_arts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performing_arts.each do |performing_art| %>
      <tr>
        <td><%= link_to 'Show', performing_art %></td>
        <td><%= link_to 'Edit', edit_performing_art_path(performing_art) %></td>
        <td><%= link_to 'Destroy', performing_art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performing art', new_performing_art_path %>
