<div class="row courses">
  <h2><%= @course.name %> <small><%= @course.academic_unit.name %></small></h2>

  <h3>Course Reps</h3>
  <ul>
    <% @course.course_representatives.each do |rep| %>
    <%= render rep %>
    <% end %>
  </ul>
</div>
