/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./shared
 */

.alert-box {
	margin-bottom: 0px;
	border: none;
}

@font-face {
	font-family: 'MuseoSlab-500';
	src: font-url('298C28_0_0.eot');
	src: font-url('298C28_0_0.eot?#iefix') format('embedded-opentype'),
		 font-url('298C28_0_0.woff') format('woff'),
		 font-url('298C28_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'MuseoSlab-500Italic';
	src: font-url('298C28_1_0.eot');
	src: font-url('298C28_1_0.eot?#iefix') format('embedded-opentype'),
	     font-url('298C28_1_0.woff') format('woff'),
	     font-url('298C28_1_0.ttf') format('truetype');
}

.banner-offset {
	margin-top: 30px !important;
}

.avatar {
	display:inline-block;
	margin-right: 5px;
	border-radius: 16px;
	width: 32px;
	height: 32px;
}

.padded-item {
	margin-top: 30px;
	padding-right: 40px !important;
	padding-left: 40px !important;
}

footer {
	background-color: #e7e7e7;
	width: 100%;
	margin-top: 30px;
	padding: 50px;
}
