/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "foundation";

.alert-box {
	margin-bottom: 0px;
	border: none;
}

@font-face {
	font-family: 'MuseoSlab-500';
	src: font-url('298C28_0_0.eot');
	src: font-url('298C28_0_0.eot?#iefix') format('embedded-opentype'),
		 font-url('298C28_0_0.woff') format('woff'),
		 font-url('298C28_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'MuseoSlab-500Italic';
	src: font-url('298C28_1_0.eot');
	src: font-url('298C28_1_0.eot?#iefix') format('embedded-opentype'),
	     font-url('298C28_1_0.woff') format('woff'),
	     font-url('298C28_1_0.ttf') format('truetype');
}
