.chat {
	.chat-window {
		width: 100%;
		max-height: 400px;
		overflow: scroll;

		ul {
			list-style:none;
			padding: 0;

			li {
				padding: 0;
				display: block;
			}
		}
	}
}

.representative {
	background-color: #f2f2f2;
	padding: 10px;
	clear: both;
	border: 1px solid #d8d8d8;

	form {
		display: inline-block;
		float: right;
		margin-top: -46px;
	}
}