.top-bar-section li a {
	font-family: 'MuseoSlab-500', 'Helvetica', 'Arial', sans-serif !important;
	font-size: 18px !important;
}

.places 	{	background: #faa61a !important;		}
.events 	{	background: #ee5823 !important;		}
.activities	{	background: #ed0677 !important;		}
.services 	{	background: #a3238e !important;		}
.democracy 	{	background: #00aeff !important;		}
.help 		{	background: #7ac142 !important;		}

.banner {
	width: 100%;
	height: 300px;
	background: url("/susuimage.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 2em;
}

.banner {
	.row {
		padding-top: 10px;
		color: white;

		.columns {
			margin-top: 40px;
		}
	}

	h1 {
    	color: white;
	}

	.header-image {
		z-index: -1000;
	}

	.today {
		font-size: 18px;
		list-style: none;
		list-style-position: outside;
	}
}

.susu-logo {
	background: white !important;
	font-weight: bold !important;
	font-size: 20px !important;

	.blue {
		color: #262783;
	}

	.pink {
		color: #db1572;
	}

	img {
		width: 23px;
		height: 13px;
		margin-top: -3px;
	}
}

.sabb-avatar {
	display:inline-block;
	margin-right: 5px;
	border-radius: 16px;
	width: 32px;
	height: 32px;
}

.orbit-container {
	height: 100%;
	
	.orbit-slides-container {
	    height: 100%;

	    .content {
	    	padding: 50px 50px 50px 115px;
	    	height: 200px;
	    }

	    h2 { color: white; }
	    h3 { color: white; }
	}
}
