
.top-bar .section li a {
    background: white;
}

.whatson 		{	background: #faa61a !important;		}
.education 		{	background: #ee5823 !important;		}
.union 			{	background: #ed0677 !important;		}
.clubssocs 		{	background: #a3238e !important;		}
.helpsupport 	{	background: #00aeff !important;		}
.elections 		{	background: #7ac142 !important;		}

.banner {
	width: 100%;
	height: 300px;
	background: url("/susuimage.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 2em;
}

.banner {
	.row {
		padding-top: 10px;
		color: white;

		.columns {
			margin-top: 40px;
		}
	}

	h1 {
    	color: white;
	}

	.header-image {
		z-index: -1000;
	}

	.today {
		font-size: 18px;
		list-style: none;
		list-style-position: outside;
	}
}

.name {
	h1 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.blue {
		color: #262783;
	}

	.pink {
		color: #db1572;
	}
}

.sabb-avatar {
	display:inline-block;
	margin-right: 5px;
	border-radius: 16px;
	width: 32px;
	height: 32px;
}
