.banner {
	width: 100%;
	height: 300px;
	background: url("/susuimage.jpg") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 2em;
}

.banner {
	.row {
		padding-top: 10px;
		color: white;

		.columns {
			margin-top: 40px;
		}
	}

	h1 {
    	color: white;
	}

	.header-image {
		z-index: -1000;
	}
}

.orbit-container {
	height: 100%;
	
	.orbit-slides-container {
	    height: 100%;

	    .content {
	    	padding: 50px 50px 50px 115px;
	    	height: 200px;
	    }

	    h2 { color: white; }
	    h3 { color: white; }
	}
}
