<%=
  map(:container_id => "map",
      :center => {
      :latlng => [50.93452, -1.39714],
      :zoom => 18
  },
  :markers => @markers)
%>

<div class="row banner-offset">
  <% @places.each do |place| %>
    <div class="small-12 medium-6 large-6 columns">
      <h3>
        <%= link_to place.name, place_path(place), id: place.slug %>
      </h3>
      <p><%= place.description %></p>
      <%= render place.schedule %>
    </div>
  <% end %>
</div>
