<div class="row place banner-offset">
  <div class="large-6 medium-6 small-12 columns">
    <h2><%= @place.name %></h2>
    <p><%= @place.description %></p>
  </div>
  <div class="large-6 medium-6 small-12 columns">
    <%= render @place.schedule %>
    <%=
      map(:container_id => "map",
          :center => {
          :latlng => [50.93452, -1.39714],
          :zoom => 18
      }, :markers => [
          :latlng => [@place.latitude, @place.longitude]
      ])
    %>
  </div>
</div>