<div class="row banner-offset">
  <h2>Union Positions</h2>
</div>
<div class="row center">
  <%= render @president %>
</div>
<div class="row">
  <% @vice_presidents.each do |vp| %>
    <div class="large-2 medium-4 small-12 columns centered">
      <%= render vp %>
    </div>
  <% end %>
</div>
